{% extends 'attendance_app/base.html' %}
{% load widget_tweaks %}


{% block content %}
<h3>Создать занятие</h3>
<form method="post">{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-3">
    <label>Предмет</label>
    {{ form.subject|add_class:'form-control' }}
  </div>
  <div class="mb-3">
    <label>Начало</label>
    {{ form.start_time|add_class:'form-control' }}
  </div>
  <div class="mb-3">
    <label>Окончание</label>
    {{ form.end_time|add_class:'form-control' }}
  </div>
  <button class="btn btn-primary">Создать</button>
</form>
{% endblock %}
